name: Run random player

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  run_random_player:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
           version: "0.8"

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run random player
        run: uv run main.py --player r --map_path maps/template/t1.json --seed 0 -T 2016
